body{
    margin: 0;
    color: white;
    background-color: black;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.487) !important;
    transition: top 0.5s;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}

.theater-item{
    background-color: rgba(124, 124, 124, 0.201);
    border-radius: 10px;
}
.theater-item:hover{
    background-color: rgba(124, 124, 124, 0.566);
}

.btn-title{
    background-color: #772D8B;
    border-radius: 20px;
    padding: 10px 15px;
    color: white;
    font-size: smaller;
    font-weight: bold;
    border: none;
}

fieldset input, fieldset textarea{
    color: white;
}